@media screen and (min-width: 768px) {
  .my-wrap-text {
    float: left;
    margin-right: 15px;
    max-width: 250px;
  }

  .my-img-container {
    display: flex;
    gap: 20px;
  }

  .my-img {
    min-width: 0;
  }
}
